@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');
:root{
  --main-one: #26378b;
  --main-two:#10183c;
  --dark-one: #050814;
  --dark-two: #212529;
  --minor-one: #cc5de8;
  --minor-two:#b854d1;
  --minor-three:#d67ded;
  --minor-four: #277c38;
  --light-one: #faf1fc;
  --pure-light: #fff;
  --roboto-font: 'Roboto', sans-serif;
  --rubik-font: 'Rubik', sans-serif;
  --smaller-size: 1.6rem;
  --small-size: 1.8rem;
  --medium-size: 2.4rem;
  --large-size: 3.2rem;
  --xlarge-size: 4.1rem;
}
*::before,*::after,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
}
body{
  overflow-x: hidden;
  background: var(--pure-light);
  color: var(--dark-two);
  font-family: var(--roboto-font);
  font-size: var(--smaller-size);
  margin-bottom: 8rem;
}
.header-container{
  position: relative;
  color: var(--light-one);
  background: linear-gradient(160deg, rgba(38, 55, 139, 0.987), rgb(204, 93, 232, 0.989));
  height: 120vh;
  clip-path: ellipse(80% 45% at 50% 34%);
  /* clip-path: circle(200vh at 50% -110vh); */
}
nav{
  padding: 4rem 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  font-size: var(--medium-size);
}
.nav-links{
  display: flex;
  align-items: center;
}
.nav-link:link,.nav-link:visited{
  padding: 0 1.5rem;
  color: var(--light-one);
  transition: .5s;
  font-size: 1.4rem;
}
.nav-link:hover,.nav-link:active{
  color: var(--main-two);
}
.get-started{
  box-shadow: 0 0 0 1.5px var(--light-one);
  padding: 1.1rem 1.6rem !important;
  border-radius: 8px;
  margin-left: 3rem;
}
.get-started:hover{
  box-shadow: 0 0 0 1.5px var(--main-two);
}
/*  */
.main-section{
  position: relative;
  font-family: var(--rubik-font);
  padding: 0 14rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.main-col-one{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.main-col-one-h2{
  font-size: var(--xlarge-size);
  font-weight: 700;
  text-transform: capitalize;
}
.main-col-one-p-one{
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}
.main-col-one-btn:link,.main-col-one-btn:visited{
  display: inline-block;
  align-self: flex-start;
  background: var(--minor-two);
  padding: 1.1rem 1.8rem;
  border-radius: .8rem;
  color: var(--light-one);
  transition: .6s;
}
.main-col-one-btn:hover,.main-col-one-btn:active{
  background: transparent;
  box-shadow: 0 0 0 1.8px var(--minor-one);
}
/*  */
.token-launch-box{
  position: absolute;
  top: 34%;
  right: 8%;
  background: var(--light-one);
  color: var(--main-two);
  border-radius: 1rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 99;
  /* z-index: -1; */
  box-shadow: 0 .1rem 1.2rem var(--dark-two);
  animation: pushPricesBox 10s infinite alternate-reverse;
}
.token-launch-h2{
  font-size: 1.8rem;
  text-align: center;
}
.countdown-time-digit{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.countdown-digit{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  font-weight: 700;
  font-size: 2.2rem;
  box-shadow: 0 1.2px 8px rgba(33, 37, 41, 0.419);
  padding: 1.5rem;
  border-radius: .8rem;
}
.countdown-time-letters{
  margin-top: -8px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.countdown-letter{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: rgba(33, 37, 41, 0.768);
}
.raised-funds{
  display: flex;
  justify-content: space-between;
  font-size: 1.7rem;
}
.raised-progress{
  background: rgba(33, 37, 41, 0.093);
  height: 18px;
  width: 100%;
  border-radius: 10rem;
  position: relative;
}
.raised-progress-inner{
  background: linear-gradient(160deg, rgba(38, 55, 139, 0.987), rgb(204, 93, 232, 0.989));
  height: 100%;
  width: 150px;
  border-radius: 10rem 0 0 10rem;
}
.raised-progress-toggle{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: var(--light-one);
  box-shadow: 0 1px 8px  rgba(33, 37, 41, 0.516), inset 0 -1px 10px rgba(33, 37, 41, 0.541);
}

/*  */
/*  */
.main-grid{
  position: relative;
}
.main-grid-cols{
  height: 350px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.main-grid-col{
  width: 2px;
  background: var(--minor-one);
}
.main-grid-rows{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.main-grid-row{
  height: 2px;
  background: var(--minor-one);
}
/* main section icons */
.circle-icon{
  margin-top: -40px;
  margin-left: 40px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: linear-gradient(55deg, rgba(16, 24, 60, 0.544), rgba(204, 93, 232, 0.982));
}
.square-icon{
  width: 20px;
  height: 20px;
  transform: rotate(25deg);
  background: var(--light-one);
  position: absolute;
  top: 15%;
  left: 5%;
}
.square-icon-two{
  box-shadow: 0 0 0 2px var(--light-one);
  height: 25px;
  width: 25px;
  transform: rotate(15deg);
  position: absolute;
  right: 5%;
  bottom: 25%;
}
.circle-icon-two{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--light-one);
  position: absolute;
  right: 50%;
  bottom: 20%;
}
/*  */
.ico-section{
  margin-top: 6rem;
  font-family: var(--rubik-font);
  color: var(--main-two);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0 14rem;
  gap: 4rem;
}
.ico-article{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.ico-article-h2{
  font-size: 4rem;
}
.ico-article-p-one{
  font-size: 1.6rem;
  font-weight: 500;
  opacity: .8;
}
.token-int,.secured-global{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.token-int-info{
  font-size: 1.8rem;
  font-weight: 600;
}
.ico-article-icon{
  color: var(--minor-one);
  font-size: 2.4rem;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-one);
  box-shadow: 0 1.3px 8px var(--main-two);
  padding: 1.5rem;
  border-radius: .8rem;
}
/*  */
/* KEYFRAMES */
/*  */
@keyframes coinImagesRotate{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes pushPricesBox{
  from{
    transform: translateY(20px);
  }
  to{
    transform: translateY(-5px);
  }
}